<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>

<body ng-app="starter">
    <ion-pane ng-controller="ClientController">
        <ion-header-bar class="bar-stable">
            <h1 class="title">My API App</h1>
        </ion-header-bar>
        <ion-content padding="true">
            <div class="list">
                <h3>Send GET Request</h3>
                <button class="button button-block button-positive" ng-click="sendGetRequest()">
                    Send Request
                </button>
            </div>
            <div class="list">
                <h3>Send GET Request for JSON Array</h3>
                <button class="button button-block button-energized">
                    Send Request
                </button>
            </div>
            <div class="list">
                <h3>Send GET Request with count</h3>
                <label class="item item-input">
                    <span class="input-label">News Count</span>
                    <input type="text" value="0" ng-model="amount">
                </label>
                <button class="button button-block button-calm" ng-click="sendGetRequestWithAmount(amount)">
                    Send Request
                </button>
            </div>
            <div class="list">
                <h3>POST Request</h3>
                <label class="item item-input">
                    <span class="input-label">Keyword</span>
                    <input type="text" placeholder="Keyword here..." ng-model="keyword">
                </label>
                <button class="button button-block button-balanced" ng-click="sendPostRequest(keyword)">
                    Send Request
                </button>
            </div>
        </ion-content>
    </ion-pane>
</body>

</html>
